/*滚动条宽度*/
::-webkit-scrollbar {
width: 8px;
}
/* 轨道样式 */
::-webkit-scrollbar-track {
}
/* Handle样式 */
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: rgba(0,0,0,0.2);
}
/*当前窗口未激活的情况下*/
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(0,0,0,0.1);
}
/*hover到滚动条上*/
::-webkit-scrollbar-thumb:vertical:hover {
background-color: rgba(0,0,0,0.3);
}
/*滚动条按下*/
::-webkit-scrollbar-thumb:vertical:active {
background-color: rgba(0,0,0,0.7);
}
/* Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template {
 display: none;
}
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
a { color: #2fa0ec; text-decoration: none; outline: none; }
a:hover, a:focus { color: #74777b; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small { font-weight: normal; line-height: 1; color: #777; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small { font-size: 65%; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small { font-size: 75%; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 12px; }
html, body { font-size: 100%; padding: 0; margin: 0; color: #fff; font-weight: 500; font-size: 1em; font-family: "Open Sans", "Helvetica Neue", "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo; line-height: 1.5em; color: #7d7d7d; }
/*-------------------------- public ---------------------------*/
.container-fluid { position: relative; }
/* fixed */
.fixed-left { position: fixed; left: 0; top: 0; bottom: 0; }
.fixed-right { position: fixed; right: 0; top: 0; bottom: 0; }
.fixed-top { position: fixed; left: 0; right: 0; top: 0; }
.fixed-bottom { position: fixed; left: 0; right: 0; bottom: 0; }
/* absolute */
.abs-left { position: absolute; left: 0; top: 0px; bottom: 0; width: 100% }
.abs-right { position: absolute; right: 0; top: 0; bottom: 0px; width: 100% }
.abs-top { position: absolute; left: 0; right: 0; top: 0px; width: 100% }
.abs-bottom { position: absolute; left: 0; right: 0; bottom: 0px; width: 100% }
/* color css */
.bg-black { background-color: #222; }
.bg-white { background-color: #fff; }
.bg-grey { background-color: #f1f1f1 }
.text-white { color: #fff }
.parallax { background-attachment: fixed; background-position: 0 0; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
/*navigation*/
.logo { margin: 10% auto }
.subject { margin: 3% auto }
.content { font-size: 18px }
.footer { margin: 3% auto }
.copyright { margin: 1% auto; padding-top: 10px; padding-bottom: 10px; }
.top-buffer { margin-top: 30px; }
.top { margin-bottom: 150px; }
.result { width: 200px; height: 200px; margin: 0 auto; position: relative; bottom: -100px; }
.logo-circle { position: absolute; display: table; text-align: center; width: 200px; height: 200px; }
.logo-circle span { display: table-cell; vertical-align: middle; }
/*------------------------------------------------------------------------------------------------------*/
#example-line-container svg { height: 6px; }
/*------------------------------------------------------------------------------------------------------*/

/*Social Buttons*/
a.btn { padding: 0 }
.btn-social, .btn-social:focus { transition-duration: 0.2s; background-color: transparent; border-width: 1px; color: rgba(65,184,254,1); border-color: rgba(65,184,254,1); font-size: 24px; width: 66px; height: 66px; line-height: 66px; margin: 5px; border-radius: 100%; }
.btn-social:hover { transition-duration: 0.2s; color: white; background-color: #41b8fe; border-color: #41b8fe; }
.btn-social.facebook:hover { background-color: #3f51b5; border-color: #3f51b5; }
.btn-social.twitter:hover { background-color: #29b6f6; border-color: #29b6f6; }
.btn-social.google-plus:hover { background-color: #e53935; border-color: #e53935; }
.btn-social.linkedin:hover { background-color: #00838f; border-color: #00838f; }
.btn-social.pinterest:hover { background-color: #c62828; border-color: #c62828; }
.btn-social.youtube:hover { background-color: #fc5e63; border-color: #fc5e63; }
.btn-social.rss:hover { background-color: #ef6c00; border-color: #ef6c00; }
/*end social buttons*/

/*------------------------------------------------------------------------------------------------------*/

/*newsletter form*/

.newsletter-focus { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }
.newsletter-focus-btn { background-color: rgba(65,184,254,1); }
.newsletter-form { border-radius: 5px; }
.newsletter-form input { border-left: none; box-shadow: none; }
/*reset*/
.form-control:focus { box-shadow: none; border-color: rgba(65,184,254,1); }
.newsletter-form input, .newsletter-form textarea, .newsletter-form .input-group-addon, .newsletter-form .input-group-btn .btn-default, .newsletter-form .btn-default { resize: none; background-color: #f9f9f9; border-color: rgba(65,184,254,1); }
.newsletter-form .input-group-addon, .newsletter-form .input-group-btn .btn-default, .newsletter-form .btn-default { color: rgba(65,184,254,1); }
.newsletter-form .input-group-btn .btn-default:hover, .newsletter-form .btn-default:hover { transition-duration: 0.05s; border-left-color: transparent; background-color: rgba(65,184,254,1); color: white; }
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
 font-size: 13px;
 color: #b5b5b5;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 font-size: 13px;
 color: #b5b5b5;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
 font-size: 13px;
 color: #b5b5b5;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
 font-size: 13px;
 color: #b5b5b5;
}
/*end newsletter form*/
/*counter*/
.counter { margin: 3% auto }
.counter ul { padding: 0; list-style-type: none; }
.counter ul li { margin: auto 3%; }
.counter ul li .digit { /*value of the timer*/ font-size: 72px; }
.counter ul li .time { /*description of value in the timer*/ font-size: 24px; display: block }
/*end of counter*/
